* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0 20px 20px 20px;
  margin-bottom: 30px;
}
header {
  /* width: 100%; */
  /* padding: 0 10px; */
  margin-bottom: 20px;
}
header img {
  width: 200px;
}
.container {
  /* display: flex; */
}

.title {
  font-size: 26px;
  color: #4d5358;
}

.month-title {
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #4e4e4e;
}

.left {
  width: 100%;
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px dashed #ccc;
}
.right {
  display: flex;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
#chart-container {
  position: relative;
  height: 39.5vh;
  overflow: hidden;
}

#month-container {
  position: relative;
  height: 39.5vh;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}

#pie-container {
  position: relative;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

#pie-top-container {
  position: relative;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}
